.container {
    display: flex;
    border: 5px solid #fff;
    width: 800px;
}

.container div {
    margin: 0;
    padding: 20px 0;
    /*
    flex default: 0 1 auto
    grow 0, srink 1, basis auto
    */
    flex: 1 1 100px;
}

.container div:nth-child(2) {
 
}





